<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%-include('./partials/head')%>

<body class="admin">
    <!-- HEADER -->
    <%-include('./partials/header')%>
    <div class="botones5">
        <form action="enviar"></form>
      <a class="enviar" href="/admin/create">NUEVO</a>
    </div>
    
    
    <div class="list table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Color</th>
                    <th scope="col">Talle</th>
                    <th scope="col">Género</th> <!-- cambiar nombre a genero -->
                    <th scope="col">Coleccion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <%productos.forEach(({id,nombre, color, talles, sexo, coleccion, imagenes, precio }) =>{%>
                    <tr>
                        <th scope="row"><img src="/images/productos/<%= imagenes[0]?.nombre %>" alt=""></th>
                        <td><%= nombre %></td>
                        <td><%= color.nombre %></td>
                        <td><%= talles.nombre %></td>
                        <td><%= sexo.nombre %></td>
                        <td><%= coleccion.nombre %></td>
                        <td>$ <%= toThousand(precio) %></td>
                        <td class="adminboton">
                            <div class="botones">
                                <a href="/admin/edit/ <%= id %>" class="btn btn-sm btn-info mb-2">EDITAR</a>
                                <form action="/admin/<%= id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">ELIMINAR</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>

    <%-include('./partials/footer')%>
</body>

</html>