<!-- <!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="detail">
    <%- include('./partials/header') %>
    <main>
        <section>
            <h1 class="title">
                <%= producto.nombre %>
            </h1>
            <div class="detalle">


                <article class="imagenes">
                    <div class="producto1">
                        <img src="/images/productos/<%= producto.imagenes[0]?.nombre %>" alt="">
                    </div>

                </article>
                </article>


                <article class="talle">

                    <h4>Talle disponible:</h4>

                    <div class="talles">
                        <div class="d-flex flex-column">
                            <% talles.forEach(talle=> { %>
                            <li class="<%= talle.id === producto.id_talles && 'bg-secondary' %>">
                                <%= talle.nombre %>
                            </li>
                            <% }) %>
                        </div>

                    </div>
                </article>


                <article class="botones">

                    <button onclick="addItem(event, '<%=producto.id%>')" class="boton-carrito" type="button"> Agregar al
                        carrito </button>

                    <input type="checkbox" id="heart">
                    <label for="heart" class="boton-corazon"><i class="far fa-heart"></i></label>

                </article>

                <article class="detalle2">

                    <div>
                        <p><i class="fas fa-truck"></i> ENVIOS GRATIS,a partir de $9999</p>
                    </div>

                    <div>
                        <h4><a href="#">DEVOLUCIONES GRATIS</a></h4>
                        <p><i class="fas fa-exchange-alt"></i> ¿No es tu talle? Podés devolverlo en un plazo
                            de 60
                            días
                        </p>
                    </div>

                    <div>
                        <H4><a href="#">PAGA SEGURO</a></H4>
                        <p><i class="fas fa-check"></i> Aprovechá hasta 3 cuotas sin interés</p>
                    </div>

                </article>
            </div>

            </div>
            </article>
            <article class="descripcion2">
                <div>
                    <h3>Descripcion: </h3>
                    <p>
                        <%= producto.descripcion %>
                    </p> <br>
                    <p>Origen: Nacional</p>
                    <p>Garantia: Contra defecto de fabrica</p>
                    <p>Adecuado para: Entrenar</p>
                    <p>Estilo: Liso</p>


                </div>
            </article>


            <div class="recomendaciones">
                <h2>Te puede interesar</h2>
                <div class="reco">
                    <img src="/images/<%= producto.imagen %>" alt="producto">
                    <img src="/images/<%= producto.imagen %>" alt="producto">
                    <img src="/images/<%= producto.imagen %>" alt="producto">
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="detail">
    <%- include('./partials/header') %>
    <main>
        <section>
            <div class="detalle">
                
                
                <article class="imagenes">
                    <div class="producto1">
                        <img src="/images/productos/<%= producto.imagenes[0]?.nombre %>" alt="">
                    </div>
                    
                </article>

                <div class="descripcion">
                    <article class="titulo">
                        

                        <h2> <%= producto.nombre %></h2>

                        <p> $ <%= producto.precio %></p>
                    </article>

                    <article class="talle">

                        <h4>Talle disponible:</h4>

                        <div class="talles">
                            <div class="d-flex flex-column" >
                               <% talles.forEach(talle => { %>
                                    <li class="<%= talle.id === producto.id_talles && 'bg-secondary' %>"><%= talle.nombre %> </li>
                               <% }) %>
                            </div>
                          
                        </div>
                    </article>


                    <article class="botones">

                        <button onclick="addItem(event, '<%=producto.id%>')" class="boton-carrito" type="button"> Agregar al carrito </button>

                        <input type="checkbox" id="heart">
                        <label for="heart" class="boton-corazon"><i class="far fa-heart"></i></label>

                    </article>

                    <article class="detalle2">

                        <div>
                            <p><i class="fas fa-truck"></i> ENVIOS GRATIS,a partir de $9999</p>
                        </div>

                        <div>
                            <h4><a href="#">DEVOLUCIONES GRATIS</a></h4>
                            <p><i class="fas fa-exchange-alt"></i> ¿No es tu talle? Podés devolverlo en un plazo de 60
                                días
                            </p>
                        </div>

                        <div>
                            <H4><a href="#">PAGA SEGURO</a></H4>
                            <p><i class="fas fa-check"></i> Aprovechá hasta 3 cuotas sin interés</p>
                        </div>

                    </article>
                </div>
             
            </div>
        </article>
        <article class="descripcion2">
            <div>
            <h3>Descripcion: </h3><p><%= producto.descripcion %></p> <br>
            <p>Origen: Nacional</p>
            <p>Garantia: Contra defecto de fabrica</p>
            <p>Adecuado para: Entrenar</p>
            <p>Estilo: Liso</p>
            
                
            </div>
        </article>


            <div class="recomendaciones">
                <h2>Te puede interesar</h2>
                <div class="reco">
                    <img src="/images/zaparoja2.jpg" alt="producto">
                    <img src="/images/z6.jpg" alt="producto">
                    <img src="/images/z5.jpg" alt="producto">
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>